@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Pacifico&display=swap');

body {
    width: 50%;
    max-width: 800px;
    min-width: 480px;
    margin: 0 auto;
    color: rgb(14, 14, 14);
    font-size: larger;
    background:rgb(154, 221, 242)

    
  }
  body nav {
    
    justify-content: space-around;
    display: flex;
    padding: 1.0em;
    background-color: rgb(241, 185, 255);
    
 }
 body nav :hover{
    color: azure;
 }
 h1{
   position: relative;
   font-size: 4vw;
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
    -webkit-text-stroke: 0.3vw rgb(11, 11, 11);
    text-transform: uppercase;
 } 
 


